.row-main{
    display: grid;
    grid-template-columns: repeat(50,1.5rem);
}

.col-main{
    display: grid;
    justify-content: center;
}

.light-off{
    background-color: red;
}

.light-dim{
    background-color: turquoise;
}

.light-on{
    background-color: rgb(77, 255, 77);

}

.light-faulty{
    background-color: darkgoldenrod;
}

.light-disable{
    background-color:black;
}